@keyframes logo__image--scale {
  from {
    transform: scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes logo__image--scale {
  from {
    transform: scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes logo__image--scale {
  from {
    transform: scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes logo__title--transparent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes logo__title--transparent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes logo__title--transparent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contacts--up {
  from {
    margin-top: -1vh;
    opacity: 0;
  }
  to {
    margin-top: 1vh;
    opacity: 1;
  }
}

@-webkit-keyframes contacts--up {
  from {
    margin-top: -1vh;
    opacity: 0;
  }
  to {
    margin-top: 1vh;
    opacity: 1;
  }
}

@-moz-keyframes contacts--up {
  from {
    margin-top: -1vh;
    opacity: 0;
  }
  to {
    margin-top: 1vh;
    opacity: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  height: 90vh;
  padding-top: 5vh;
}

.logo__picture {
  width: 100%;
  text-align: center;
}

.logo__image {
  animation: logo__image--scale 1.5s;
  -webkit-animation: logo__image--scale 1.5s;
  -moz-animation: logo__image--scale 1.5s;
  width: auto;
  max-width: 100%;
  height: 35vh;
  width: auto;
  outline: 1px solid green;
}

.logo__title {
  animation: logo__title--transparent 1.4s;
  -webkit-animation: logo__title--transparent 1.4s;
  -moz-animation: logo__title--transparent 1.4s;
  font-family: 'Roboto', sans-serif;
  color: #54A7C4;
  font-weight: 700;
  text-align: center;
  font-size: 5vh;
  min-width: 320px;
  max-width: 100%;
}

.logo__contacts {
  width: 98%;
  margin: 0 1%;
  font-family: 'roboto', 'arial', sans-serif;
  text-align: center;
}

.logo__email {
  display: none;
  animation: contacts--up 2s;
  -webkit-animation: contacts--up 2s;
  -moz-animation: contacts--up 2s;
  margin-top: 1vh;
  font-size: 3vh;
  color: #54A7C4;
  font-weight: 300;
  
}

.logo__email-link {
  margin-top: 1vh;
  font-size: 3vh;
  color: #54A7C4;
  font-weight: 700;
}

.logo__address {
  display: none;
  animation: contacts--up 2s;
  -webkit-animation: contacts--up 2s;
  -moz-animation: contacts--up 2s;
  margin-top: 1vh;
  font-size: 3vh;
  color: #54A7C4;
  font-weight: 300;
}